<div class="row" id="status_log_<%= status_log.id %>">
  <span class="author"><%= link_to status_log.user.name, status_log.user %>:</span>
  <%= status_log.content %>
  <% if creator_of? status_log %>
    <span class="right">
      <%= link_to '删除', status_log, :class => 'hide', :method => :delete, :remote => true, :confirm => '真的要删除吗?' %>
    </span>
  <% end %>
</div>

