<div class="row">
  <span><%= link_to comment.user.name, comment.user %>:</span>
  <%=raw parse_markdown comment.content %>
  <span class="quiet right small"><%= link_to '编辑', edit_comment_path(comment), :class => :action %>&nbsp;&middot;&nbsp;<%= comment.created_at %></span>
</div>
