%div{:class => issue_filter_classes(issue)}
  .taskStatus
    %span.task_status.task_counter= issue.comments.count
  .taskName
    = link_to issue.title, issue, :class => :name
    - if issue.planned_date
      %span.assigned_date= issue.planned_date
    - if issue.assigned_user
      %span.assigned_user
        = link_to issue.assigned_user.name, issue.assigned_user
  .clear
