<% if issue.todo_items.any? %>
<div id="todo_list_box">
  <div class="bg-gray"><%= t(:todo) %></div>

  <% open_todos = issue.todo_items.where(:workflow_state => :open) %>

  <%= render open_todos, :manage => false %>

  <% todos_done = issue.todo_items.where(:workflow_state => :done) %>
  <% if todos_done.any? %>
    <div id="todo_done" style="<%= %(border-top: 1px solid #DDD;) if open_todos.any? %>">
      <%= render todos_done, :manage => false %>
    </div>
  <% end %>
</div>
<% end %>
