.task_header
  %p.text_actions
    = link_to new_project_milestone_path(@project), :class => 'new_task_list_link' do '<span>创建任务列表</span>' end
  %h2 任务列表

.filters
  %strong Filter tasks:
  %input#filter_tasks_by_name{:placeholder => 'By name...', :type => :search}

#task_lists
  = render @milestones, :project => @project

