.task_header
  %p.text_actions
    = link_to new_project_milestone_path(@project), :class => 'new_task_list_link' do '<span>创建任务列表</span>' end
  %h2 任务列表

.filters
  %strong Filter tasks:
  %input#filter_tasks_by_name{:placeholder => 'By name...', :type => :search}

#task_lists
  = render @milestones, :project => @project if @milestones.any?

- unless @milestones.any?
  #primer
    %p 这个项目还没有任务列表
    .box
      %h2= link_to '在这个项目中创建第一个任务列表', new_project_milestone_path(@project)
      %p 使用任务进行事前计划, 跟踪进程和了解已经完成的工作。
      %ul
        %li
          %b 计划.
          在列表中创建任务并分配给您的团队成员。
        %li
          %b 报告.
          发表评论到每个任务，添加附件，回复反馈信息。
        %li
          %b 跟进. 
          得到与您相关任务的提醒。
        %li
          %b 预览. 
          已经完成的任务不会被删除，您可以在将来继续读取到这些消息和文件。
      %p 是时候忘记Excel计划表和复杂的甘特图了！
