<% content_for :content_area do %>
  <% @milestones.each do |m| %>
    <div class="milestone">
      <h3><%= m.name %></h3>
      <ul>
        <%= render m.issues %>
      </ul>
    </div>
  <% end %>

  <div class="milestone">
    <h3>默认列表</h3>
    <ul>
      <%= render @no_milestones %>
    </ul>
  </div>
<% end %>

<%= render 'shared/project_page' %>
