- content_for :head_hook do
  = javascript_include_tag 'jquery.form.js'

- content_for :on_ready_hook do
  :plain
    $("#new_conversation").ajaxForm({dataType: 'script', clearForm: true, iframe: true, data: {xhr: true}});

%h2 团队会话
.create_bar
  = link_to new_project_conversation_path(@project), :class => :add_button do '创建新话题' end

#conversations
  = render @conversations
