
body { 
  background-color: #E6E6E6;
  font-family: 'Lucida Grande', Tahoma, Verdana, arial, sans-serif, hei;
  font-size: 14px;
}

a:link, a:active, a:hover, a:visited { text-decoration: none; border: none; }

#main_area { background-color: white; }

#header {
  margin-bottom: 10px;
}

#header #logo {
  background-color: #A82400;
  color: white;
  line-height: 1;
  font-size: 3em;
  font-weight: bold;
  width: 180px;
  text-align: center;
}

#header div.links {
  margin-top: 10px;
}

#header div.links a {
  color: #B9BBBC;
  text-decoration: none;
  line-height: 1;
  margin-right: 8px;
}

#breadcrumbs { padding: 5px 0 5px 20px; background-color: white; margin-bottom: 20px; }
#content, #sidebar { padding: 10px 20px; }
#footer { margin-top: 10px; }

#footer a:active, #footer a:link, #footer a:hover {
  text-decoration: none;
  margin-right: 10px;
}

div.field {
  margin-bottom: 10px;
}

label {
  display: block;
}

div.blue_bar {
  background-color: #E5ECF9;
  height: 2em;
  padding: 5px 0 0 10px;
  margin-bottom: 5px;
}

div.gray_bar {
  background-color: #EEE;
  height: 2em;
  padding: 5px 0 0 10px;
  margin-bottom: 5px;
}

div.bar h1, div.bar h2, div.bar h3, div.bar h4 { margin: 0; }

div.row { padding: 5px 0 5px 10px; }

div.row p { text-indent: 1em; }

div.row a:link, div.row a:visited { color: #333; }
div.row a:hover { color: #577DE7; text-decoration: underline; }

.todo_done {
  color: #999;
  text-decoration: line-through;
}


a.action, a.action:active, a.action:visited {
  color: #577DE4;
  text-decoration: none;
}

a.action:hover {
  background-color: #577DE4;
  color: #FFF !important;
  text-decoration: none;
}

a[data-method=delete]:hover {
  color: red !important;
  text-decoration: underline;
  background: none !important;
}

div.spacer {
  border-bottom: 1px dotted #E0E0E0;
}

.state {
  padding: 2px 5px;
  color: white;
  font-size: 10px;
  text-align: center;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.radius-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.state-open { background-color: #0091C0; }
.state-invalid { background-color: gray; }
.state-reopened { background-color: red; }
.state-working_on { background-color: orange; }
.state-done { background-color: purple; }
.state-ignored, .state-closed { background-color: #6CC644; }

/*.sub { margin-bottom: 10px; background-color: #AFAFAF; padding: 2px 5px; border-top: 1px solid #DDD; }*/

.tip { color: #AFAFAF; text-shadow: none; }
.title { margin: 0; padding-bottom: 5px; }

.clean { background: none; }

.section {
  border: 1px solid #DDD;
  padding: 5px;
  margin: 10px 0;
}

.section p { text-indent: 1em; }
.author { margin-bottom: 0.5em; }

div.btn_2_o {
  width: 120px;
  height: 21px;
  background-image: url("/images/button.png");
  -moz-border-radius: 5px;
  background-color: #E0E0E0;
  padding: 0px;
  margin: 0px;
}

div.btn_2_i {
  text-align: center;
  padding-top: 3px;
  color: #FFF;
  font-size: 12px;
}

div.btn_2_i a:link, div.btn_2_i a:visited, div.btn_2_i a:active {
  text-decoration: none;
  color: #000;
}

div.btn_2_i a:hover {
  text-decoration: none;
  color: #333;
}

.b-box {
  border: 1px solid #E0E0E0;
  padding-bottom: 5px;
  margin: 10px 0;
}

.inline { display: inline; }

h1.silver {
  background-image: url("/images/silver_bg.png");
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 5px 0px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

h1.silver a:link, h1.silver a:active, h1.silver a:hover, h1.silver a:visited { color: #333; }

h1.silver a:hover { border-bottom: 2px solid #577DE7; color: #577DE7; }

.text_large { font-size: 18px; }

.caption {
  padding: 0 0 5px 10px;
  border-bottom: 1px solid #CCC;
  color: #999;
}

textarea.micro {
  height: 2em;
}

div[filtered] {
  border: 1px dashed #999;
}

textarea { padding: 10px 5px; }
