#header {
  margin-bottom: 10px;
}

#header #logo {
  background-color: #A82400;
  color: white;
  line-height: 1;
  font-size: 3em;
  font-weight: bold;
  width: 145px;
  text-align: center;
}

#header div.links {
  margin-top: 10px;
}

#header div.links a {
  color: #B9BBBC;
  text-decoration: none;
  line-height: 1;
  margin-right: 8px;
}

#footer {
  margin-top: 30px;
}

div.field {
  margin-bottom: 10px;
}

label {
  display: block;
}

div.bar {
  background-color: #E5ECF9;
  height: 2em;
  margin: 5px 0;
  padding: 5px 0 0 10px;
}

div.row {
  padding: 5px 0;
}

div.row p {
  text-indent: 1em;
}

.todo_done {
  color: #999;
  text-decoration: line-through;
}

h2.title {
  margin: 0;
}

a.action, a.action:active, a.action:visited {
  color: #577DE4;
  text-decoration: none;
}

a.action:hover {
  background-color: #577DE4;
  color: #FFF !important;
  text-decoration: none;
}

div.spacer {
  border-bottom: 1px dashed #CCC;
  clear: both;
}

.state {
  font-size: 0.8em;
  padding: 4px 7px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-left: 5px;
}

.state-open { background-color: blue; }
.state-invalid { background-color: gray; }
.state-reopened { background-color: red; }
.state-working_on { background-color: #6CC644; }
.state-done { background-color: purple; }
.state-closed { background-color: green; }

