<% if obj.errors.any? %>
  <div class="error">
    <h2>
      <%= t('activerecord.errors.template.header.other', :count => obj.errors.count) %>
      </h2>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>  
    <% end %>
    </ul>
  </div>
<% end %>
