<% if obj.errors.any? %>
  	<h4 class="alert_error">
	   <% if obj.errors.count > 1 %>
	     <%= t('activerecord.errors.template.header.other', :count => obj.errors.count, :model => obj.class.to_s.downcase) %>
	   <% else %>
	     <%= t('activerecord.errors.template.header.one', :model => obj.class.to_s.downcase) %>
	   <% end %>
	   <ul>
	    <% obj.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>  
	    <% end %>
	   </ul>
	</h4>
<% end %>
