.span-4.clear
  %h1= link_to @project.name, @project
  %ul.modules
    %li= link_to '任务', project_issues_path(@project)
    %li= link_to '文档', project_documents_path(@project)

#content_area.span-10.last
  = yield :content_area
