<h1 class="silver">最近动态</h1>

<h1 class="silver">分配给我的问题</h1>
<%= render_with_spacer 'issue', current_user.assigned_issues %>

<div class="span-8">
  <h1 class="silver">我关注的问题</h1>
</div>

<div class="span-8 last">
  <h1 class="silver">我参与的问题</h1>
</div>

<% content_for :sidebar do %>
<div class="b-box">
  <div class="blue_bar">所有用户</div>
  <%= render_with_spacer 'user', User.all %>
</div>
<% end %>
