<div class="bar"><h3>最近动态</h3></div>

<div class="bar"><h3>分配给我的问题</h3></div>

<div class="span-8">
<div class="bar"><h3>我关注的问题</h3></div>
</div>

<div class="span-8 last">
<div class="bar"><h3>我参与的问题</h3></div>
</div>

