<% content_for :sidebar do %>
  <h1 class="silver">分配给我的任务</h1>
  <div id="my_assigned_issues">
    <%= render :partial => 'my_assigned_issue',
      :collection => current_user.assigned_issues,
      :spacer_template => 'shared/spacer'
    %>
  </div>

  <h1 class="silver">我关注的问题</h1>

  <h1 class="silver">我参与的问题</h1>

  <div class="b-box">
    <div class="blue_bar">所有用户</div>
    <%= render_with_spacer 'user', User.all %>
  </div>
<% end %>

<h1 class="silver">最近动态</h1>

<script type="text/javascript">
  jQuery(function() {
    $.make_sortable('my_assigned_issues', 'div.assigned_issue', '/assigned_issues/sort');
  });
</script>
