<% content_for :sidebar do %>
  <h1 class="silver">分配给我的任务</h1>
  <div id="my_assigned_issues">
    <%= render :partial => 'my_assigned_issue',
      :collection => current_user.assigned_issues.except_closed.except_ignored,
      :spacer_template => 'shared/spacer'
    %>
  </div>

  <h1 class="silver">我关注的任务</h1>

  <h1 class="silver">我评论的任务</h1>

  <div class="b-box">
    <div class="blue_bar">所有用户</div>
    <%= render_with_spacer 'user', User.all %>
  </div>
<% end %>

<% content_for :on_ready_hook do %>
  $.make_sortable('my_assigned_issues', 'div.assigned_issue', '/assigned_issues/sort');
<% end %>

<div class="row">
  <%= render 'status_logs/form' %>
</div>
<h1 class="silver">最近动态</h1>
<div id="feed_box">
  <%= render StatusLog.order('created_at DESC').limit(20) %>
</div>
