
<article class="activities_box module width_3_quarter">
  <div class="module_content">
    <div id="feed_box">   
      <%= render 'activities/form' %>
      <%= render :partial => 'activities/activity', :collection => Activity.limit(10) %> 
    </div>
  </div>
</article>

<article class="module width_quarter">
  <div class="module_content">
    <%= render :partial => 'users/user_working_on', :collection => @users_working_on.keys, :as => :user%>
  </div>
</article>
<!-- end of stats article -->     

<div class="clear"></div>

<div class="spacer"></div>
