<% if current_user %>
  <% if @projects.any? %>
    <% @projects.each do |p| %>
      <h2><%= p.name %></h2>
    <% end %>
  <% else %>
    <p>还没有管理任何项目</p>
  <% end %>

  <% content_for :sidebar do %>
    <%= link_to "创建新项目", new_user_project_path(current_user) %>
  <% end %>

<% else %>
  <h2>welcome!</h2>
<% end %>


