<article class="module width_full">

	<header><h3><%= t(:create_project) %></h3></header>

		<div class="module_content">
			<%= render 'form' %>		
		</div>

</article>
<!-- end of messages article -->