<h2>Project: <%= @project.name %></h2>

<div class="bar"><h3>所有问题</h3></div>
<%= render @project.issues, :project => @project %>

<% content_for :sidebar do %>
  <%= link_to "创建issue", new_project_issue_path(@project), :class => :action %>
<% end %>
