<h1 class="silver">Project: <%= @project.name %></h1>
<%= render_with_spacer 'issue', @project.issues %>

<% content_for :sidebar do %>
  <%= as_button(link_to "创建issue", new_project_issue_path(@project)) %>
<% end %>
