<%= form_for Activity.new, :remote => true do |f| %>
  <fieldset>
    <label><%= t(:feed) %></label>
    <%= f.text_area :data, :class => :micro %>

    <div class="submit_link">
      <%= f.submit t(:publish), :class => :alt_btn %>
    </div>
  </fieldset>
<% end %>

