<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    jQuery(function() {
        <%= yield :on_ready_hook %>
    });
  </script>
</head>
<body>
  <div class="container" id="main_area">
    <div class="span-16" id="content">
      <%= yield %>
    </div>

    <div class="span-6 last" id="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>
</body>
</html>
