<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    jQuery(function() {
        <%= yield :on_ready_hook %>
    });
  </script>
</head>
<body>
  <%= yield %>
  <%= render 'shared/ga' %>
</body>
</html>
