<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>
	
	<section id="main" class="focus_wrap">
		
		<%= render 'layouts/flash_messages' %>  
		
		<article class="module width_half">

			<%= yield %>

		</article>
		
	</section>    

	<%= render 'shared/ga' %>

</body>
</html>
